.checkoutProduct {
  display: flex;
  margin: 20px 0;
}

.checkoutProduct__image {
  width: 180px;
  height: 180px;
  padding-left: 20px;
  object-fit: contain;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background: #f0c14b !important;
  border: 1px solid !important;
  margin-top: 10px !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111111 !important;
}

@media (max-width: 548px) {
  .checkoutProduct {
    flex-flow: column;
  }
}
