.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 190px !important;
  width: 100% !important;
  object-fit: contain !important;
  margin-bottom: 15px !important;
}

.product > button {
  background: #f0c14b !important;
  border: 1px solid !important;
  /* margin-top: 10px !important; */
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111111 !important;
}

.product__price {
  margin-top: 5px !important;
}

.product__info > p {
  margin: 0;
}

.product__info {
  height: 100px !important;
  margin-bottom: 15px !important;
}

.product__rating {
  display: flex;
}

.product__rating > p {
  margin: 0;
}
